
<div>
    <h1>List of items</h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>MRP(in ₹) </th>
          <th>Discount %</th>
          <th>Available Quantity</th>
          <th>Discount Price</th>
          <th>Cart</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of ItemsArray">
          <th>{{ item.itemId }}</th>
          <td>{{ item.name }}</td>
          <td>{{ item.mrp }}</td>
          <td>{{ item.discountPercent }}</td>
          <td>{{ item.availableQuantity }}</td>
          <td>{{item.discountedSp}}</td>
          <td>
            <!-- <button type="button">Add to Cart</button> -->
            <button class="w-100 btn btn-lg btn-primary" type="submit">Add to Cart</button>

            <!-- <button type="button">Delete</button> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>